{{> navbar }}
<div class='container'>
    <br>
    <a class="btn btn-danger btn-lg text-white" role="button" id="clear-btn">Clear Articles</a>

    <div class="card-columns">
        {{#if error}}
            <h1>ERROR: {{error}}</h1>
        {{else}}
            {{#each articles}}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <a target="_blank" href="{{link}}">{{headline}}</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{content}}</p>
                        <img src="{{imageUrl}}" alt="Image">
                    </div>
                    <a class="btn btn-success btn-sm text-white edit-note" id="{{_id}}" role="button">View Notes</a>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

{{> note-modal }}

{{> jquery }}
<script src="/assets/js/savedArticles.js"></script>